.trail-section {
    position: relative;
    width: 100%;
    height: 994px;
    overflow: hidden;
    display: flex;
}

.trail-box {
    display: flex;
    align-items: center;
    /* transition: opacity 0.3s ease; */
}

.trail-letter {
    font-size: 50px;
    font-weight: 700;
    /* transition: opacity 0.3s ease; */
}